
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');





* {
  user-select: none;
}

body {
  background-image: url("../img/giphy.gif");
  background-size: cover;
}

#wrapper {
  display: table;
  margin: 0 auto;
  margin-top: 7em;
  font-family: Kanit;
}

#cookie {
  max-width: 130px;
  width: 100%;
  display: table;
  margin: 0 auto;
  cursor: url("res/img/bic-removebg-preview.png");
  transition: .3s ease;
}

#cookie:hover {
  transform: scale(1.6);
}

#counter {
  font-size: 42px;
  text-align: center;
  color: white;
  transition: .2s ease;
  cursor: pointer;
}

#counter:hover {
  transform: scale(1.1);
}
